<div class="mb-4">
  <label [for]="label" class="input-label">
    {{ label }}
    @if (isRequired && label) {
    <span
      [class]="control.errors?.['required'] && (control.touched || control.dirty) ? 'text-red-500' : 'text-gray-500'"
      >*</span
    >
    }
  </label>

  @switch (type) { @case ('textarea') {
  <textarea
    [formControl]="control"
    [id]="controlName"
    [placeholder]="placeholder"
    [rows]="rows"
    class="input-field"
    [class.input-border]="
      !control.invalid || (!control.dirty && !control.touched)
    "
    [class.input-border-error]="
      control.invalid && (control.dirty || control.touched)
    "
  >
  </textarea>
  } @default {
  <input
    [type]="type"
    [formControl]="control"
    [id]="controlName"
    [placeholder]="placeholder"
    class="input-field"
    [class.input-border]="
      !control.invalid || (!control.dirty && !control.touched)
    "
    [class.input-border-error]="
      control.invalid && (control.dirty || control.touched)
    "
  />
  } } @if (control.invalid && (control.dirty || control.touched)) {
  <div class="error-message">
    <p *ngFor="let error of getErrors()">{{ error }}</p>
  </div>
  }
</div>
