<div class="mb-4">
  <label [for]="label" class="input-label">
    {{ label }}
    @if (required) {
    <span
      [class]="control.errors?.['required'] && (control.touched || control.dirty) ? 'text-red-500' : 'text-gray-500'"
      >*</span
    >
    }
  </label>

  <ng-container [ngSwitch]="type">
    <textarea
      *ngSwitchCase="'textarea'"
      [formControl]="control"
      [id]="label"
      [placeholder]="placeholder"
      [rows]="rows"
      class="input-field"
      [ngClass]="{
        'border-red-500': control.invalid && (control.dirty || control.touched)
      }"
    >
    </textarea>

    <input
      *ngSwitchDefault
      [type]="type"
      [formControl]="control"
      [id]="label"
      [placeholder]="placeholder"
      class="input-field"
      [ngClass]="{
        'border-red-500': control.invalid && (control.dirty || control.touched)
      }"
    />
  </ng-container>

  <div
    *ngIf="control.invalid && (control.dirty || control.touched)"
    class="error-message"
  >
    <p *ngFor="let error of getErrors()">{{ error }}</p>
  </div>
</div>
