<div class="mb-4" [attr.data-dropdown-id]="controlName">
  <label [for]="controlName" class="input-label">
    {{ label }}
    @if (isRequired && label) {
    <span
      [class]="control.errors?.['required'] && (control.touched || control.dirty) ? 'text-red-500' : 'text-gray-500'"
      >*</span
    >
    }
  </label>
  <select
    [id]="controlName"
    [formControl]="control"
    [required]="isRequired"
    [name]="controlName"
    class="input-field"
    [class.input-border]="
      !control.invalid || (!control.dirty && !control.touched)
    "
    [class.input-border-error]="
      control.invalid && (control.dirty || control.touched)
    "
  >
    <option value="" disabled selected>Select {{ label }}</option>
    <option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </option>
  </select>
  @if (control.invalid && (control.dirty || control.touched)) {
  <div class="error-message mt-1 text-sm text-red-600">
    @if (control.errors?.['required']) {
    <span>{{ errorMessage ? errorMessage : "This field is required." }}</span>
    }
  </div>
  }
</div>
