/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Color (formerly Tertiary) */
  --color-primary-lightest: #d4f0ed;
  --color-primary-lighter: #a3ddd8;
  --color-primary-light: #72cac4;
  --color-primary: #4db6ac;
  --color-primary-dark: #3c9588;
  --color-primary-darker: #2d6e64;
  --color-primary-darkest: #1e4841;

  /* Secondary Color (unchanged) */
  --color-secondary-lightest: #fceccc;
  --color-secondary-lighter: #fae0a1;
  --color-secondary-light: #f8d075;
  --color-secondary: #f6c24d;
  --color-secondary-dark: #c49a3e;
  --color-secondary-darker: #9a7a31;
  --color-secondary-darkest: #705725;

  /* Tertiary Color (formerly Primary) */
  --color-tertiary-lightest: #fbc9cc;
  --color-tertiary-lighter: #f9989d;
  --color-tertiary-light: #f76775;
  --color-tertiary: #f6666e;
  --color-tertiary-dark: #c45056;
  --color-tertiary-darker: #933d41;
  --color-tertiary-darkest: #62292c;

  /* Neutral Color (unchanged) */
  --color-neutral-lightest: #f9f9f9;
  --color-neutral-lighter: #f4f4f4;
  --color-neutral-light: #e0e0e0;
  --color-neutral: #bdbdbd;
  --color-neutral-dark: #8d8d8d;
  --color-neutral-darker: #6b6b6b;
  --color-neutral-darkest: #4a4a4a;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--color-secondary-lightest);
}

pre {
  background-color: var(--color-neutral-lightest);
  padding: 5px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.key {
  color: #c92c2c;
}

.string {
  color: #0b7500;
}

.number {
  color: #1a01cc;
}

.boolean {
  color: #1a01cc;
}

.null {
  color: #1a01cc;
}

/* Custom Tailwind */
.error-message {
  @apply text-red-500 text-sm mt-1 italic;
}

.input-label {
  @apply block text-sm font-medium text-gray-700 mb-2;
}

.input-field {
  @apply block w-full p-2 rounded-md shadow-sm focus:outline-none min-h-[42px];
}

.input-border {
  @apply border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500;
}

.input-border-error {
  @apply border border-red-500 focus:ring-red-500 focus:border-red-500;
}
